*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Gabarito,sans-serif;
    
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-around;
border-bottom: solid black 1px;
align-items: center;
position: sticky;
top:0px;
background-color:white;
z-index:1;


}
.navbar__s1__header{
    color: #892DE1;
}
.navbar__s2{
    border: solid black 1px;
    padding:10px;
    border-radius: 30px;
    width:60%;
    display: flex;
    align-items: center;
    

}
.navbar__s2 input{
    width:60%;
    font-size: 16px;
    border: none;
    gap:10px

}
.navbar__s2 input:focus{
outline:none;
}
.navbar__s3{
    display:flex;
    gap:10px;
    align-items: center;
}

/* categories */
.categories{
    display: flex;
    justify-content: space-around;
    padding:10px;
    border-bottom: solid black 1px;
}
.categories p{
    background-color: #892DE1;
    margin-top: 5px;
    padding:10px;
    border-radius: 30px;
    color: white;


}
/* sales image */
.u-image{
    position: relative;
}
.u-image img    {
    width:100%;
    
    
}
.u-image__popup{
    border: solid 1px black;
    padding-top:20px;
    padding-left: 10px;
    background-color:white;
    width:300px;
    
    position: absolute;
    top:150px;
    left:200px
}
/* mylearning popup */
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    border: solid 1px black;
    background-color: white;
    width:100%;
    position: absolute;
    padding:5px ;
    top:150%;
    display: none;
    
}
.mylearning:hover .mylearning__popup{
    display: block;
}
/* card */
.courses-card{
    width:300px;
    padding-top:10px;
}
.courses-card img {
height:50%;
width:100%;
}
.recommended{
    padding:10px;
    

}
.recommended__container{
    display: flex;
    justify-content: space-around;
    
   
}
.topics__container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap:10px

}
.topics__container p{
    border:solid gray 2px;
    padding:10px;
    flex-grow: 1;
    flex-basis: 25%
}
/* .popular__card{
    width: 20%;
}
.poupular__card img{
width:25%;
} */
 .popualar{
padding:10px;
 }
 .popular__container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  
 }
 .popular__container .courses-card{
    margin:5px;
 }

 /* footer */
 .footer{
    background-color: black;
    padding:30px;
    color: white;
 }
 .footer__one{
    display: flex;
    gap:10px
 }
 .footer__two{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
 }
 .footer__one p{
margin:20px;
 }
 



